body {
    background-color: rgb(209, 209, 209);
}

/* Estilos para la caja donde escribimos los comentarios */
#div_crear_comentario {
    margin-left: 23em;
    margin-top: 2em;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(221, 255, 152);
    width: 60em;
    height: 25em;
}

#titulo_crear_comentario {
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
}

#escribe_comentario {
    vertical-align: top;
    line-height: 1.5;
    width: 40em;
    height: 15em;
    padding: 10px; /* Ajusta el padding según sea necesario */
}

.boton_comentario {
    font-size: 1em;
    padding: 1em;
}

#boton_subir_comentario {
    flex: 1 1 auto;
    margin-left: 2.3em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 0 20px #eee;
    border: 1px solid black;
    background-image: linear-gradient(to right, #65f6b2 0%, #ffa552 51%, #65f6b2 100%);
}

#boton_subir_comentario:hover {
    background-position: right center;
}

/* Estilos para los comentarios que aparecerán abajo */
.titulo_comentario {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
}

.texto_comentarios {
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: sans-serif;
}

.div_comentario {
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(45deg, rgb(170, 255, 0), rgb(255, 251, 39), rgb(253, 215, 0) rgb(255, 72, 27));
}