body {
    background-color: rgb(161, 161, 161);
}

.titulo_usuario {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
}

.icons {
    width: 20px;
    height: 20px;
}

.texto_likes, .texto_disslikes, .texto_comentarios {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.texto_likes {
    color: rgb(0, 236, 253);
}

.texto_disslikes {
    color: rgb(255, 33, 33);
}

.texto_comentarios {
    color: rgb(0, 158, 79);
}
